body {
    height: 100vh;
    width: 100%;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    font-size: 25px;
    /* margin: 30px; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button {
    border-radius: 15px;
    border: 2px black;
    padding: 10px 50px 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    background-color: green;
    margin: 30px;
}

header{
      display: flex;
justify-content: space-between;
align-items: center;
/* margin-left: auto; */
padding: 0% 40px;
/* border: 2px solid black; */
background-color: #2B6DBC;
color: white;
}
img {
   
    
    max-width: 50%;
    max-height: auto;
    /* min-height: 50vh; */
    /* display: flex; */
}
fieldset{
    min-height: 50vh;
    max-height: 100vh;
    width: auto;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    font-size: 25px;
    /* margin: 30px; */
    /* border: 2px solid black; */
    display: flex;
    /* flex-direction: column; */
   
    /* justify-content: space-between; */
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    padding: 1em;
    /* border: 1px solid #ccc;
    border-radius: 1em; */
  }

  a{
    font-weight: bold;
  }

  .container_1 {
   border: solid #2B6DBC 2px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 50px 20px;
  }

  .container_2 {
    margin: 50px;
    display: flex;
    flex-direction: column;
  }