/* Global Styles */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}

/* Container Styles */
#main_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Button Styles */
button {
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    max-width: 250px;
    height: 50px;
    background-color: green;
    margin: 30px;
}

/* Top Section Styles */
#top {
    padding: 100px 0 100px 50px;
}

/* Confirmation Section Styles */
#confirm {
    padding: 25px 0 0 50px;
    text-align: left;
}

/* Image Styles */
img {
    max-height: 100vh;
width:auto

}

/* Form Fieldset Styles */
fieldset {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    width: 67vw;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Link Styles */
a {
    font-weight: bold;
}

/* Form Container Styles */
.container_1,
.container_2,
.container_3 {
    padding: 50px 10px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 2;
}

/* Input Styles */
input {
    min-width: 100px;
    max-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    border-color: black;
}

/* Label Styles */
label {
    padding: 15px 0 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    max-width: 150px;
}

/* Additional Styles */
#subtitle {
    padding: 20px 0 20px 50px;
}

#separate {
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    width: 60.28vw;
    align-items: center;
    text-align: left;
}

p {
    padding-left: 20px;
}

input:invalid{
    border-color: red;
}

input:valid{

    border-color: green;
}

input:focus {

    box-shadow: 0 0px 10px rgba(3, 134, 228, 0.818);
}