body {
    background-color:aquamarine;
}

button {
    border-radius: 25px;
    border: 2px black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
    background-color: green;
}